<!doctype html>
<html>
    <head>
        <title>fix-flex</title>
        <style type="text/css">
			.left{  
              position:absolute;  
              width:200px;  
              height:100px;  
              background:#0FF;  
            }  
            .right{  
              margin-left:200px;  
              height:100px;  
              background:#CF0;  
            }  
        </style>       
    </head>
    <body>
       <div class="container">  
          <div class="left">固定宽度</div>  
          <div class="right">宽度自适应</div>  
       </div>  
    </body>
</html>